@use "colors";
@use "components/doggo_button";
@use "home/home_details";
@use "home/logo";

@font-face {
  font-family: Rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

* {
  font-family: Rubik;
  font-weight: bold;
  font-family: sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  // text-align: center;
  display: inline;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  // background-color: colors.$dark-primary;
}

main {
  display: inline;
}

#doggo-input-button {
  background-color: black;
  color: white;
  height: 100px;
  width: 100px;
  padding-left: auto;
  padding-top: auto;
}

#doggo-input {
  display: none;
}

#home {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


#home-1 {
  padding: 2%;
  flex: 5;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  // align-content: center;
  background-color: white;
  height: 100%;
}

#home-2 {
  background-image: url("https://doggo-share.doggo-saloon.net/art/4");
  background-size: cover;
  background-position: center;
//   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  flex: 9;
  background-color: black;
}

#copy-pop-up {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: colors.$secondary;
  color: white;
  width: 600px;
  height: 40px;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0%);
  border-radius: 12px;
}